body {
      font-family: sans-serif;
      text-align: center;
      background: white;
      color: black;
}

header {
      padding: 20px;
      background: #1e3d61;
      color: white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
}

canvas {
      width: 300px;
      height: 150px;
}

#gaugeContainer {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;
}

#description {
      margin-top: 150px;
}

p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1e3d61;
    color: white;
    text-align: center;
    padding: 10px;
}
